<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>
            Predicted Document
        </title>
    </head>
    <body>
        <h1><div style="text-align:center"><font color=#eb4034>NLP Document Finder</font></div></h1>
        <hr>
        </br>
        <h4><div class = 'container' style="text-align:left">Enter your input in the box below</div></h4>
        </br>
        <div class='container'>
            <form method="POST" action=/predict>
                <div class="form-group">
                    <label for='user_input'><p class='font-weight-bold'></p></label>
                    <input type='textarea' name='user_input' style="width:50%">
                    <br>
                </div>
                <input class='btn btn-primary' type='submit' value='submit'></input>
            </form>
        </div>    
    </body>
</html>